<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">login</mat-icon>
      Iniciar sesión
    </ng-template>
    <div class="main-div">
      <mat-card>
        <mat-card-subtitle>Inicio de sesión</mat-card-subtitle>
        <mat-card-content>
          <form [formGroup]="loginForm">

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Correo electrónico</mat-label>
              <input matInput formControlName="email">
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="password" type="password">
              <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <button class="example-full-width" mat-raised-button color="primary" type="submit"
              [disabled]="loginForm.invalid" (click)="login()">Iniciar sesión</button>
              <a href="http://"><span>Olvidé mi contraseña</span></a>

              <button class="example-full-width" mat-raised-button (click)="viewId()">
                Ver id
              </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_circle</mat-icon>
      Registrarme
    </ng-template>
    <div class="main-div-2">
      <mat-card>

        <mat-card-content class="example-full-width">
          <mat-vertical-stepper #stepper>

            <mat-step [stepControl]="companyForm" errorMessage="Completa todos los campos">
              <form [formGroup]="companyForm">
                <ng-template matStepLabel>Ingresa información de tu empresa</ng-template>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input matInput placeholder="Nombre de la empresa" formControlName="companyName" required>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Giro</mat-label>
                  <input matInput placeholder="Giro de la empresa" formControlName="description" required>
                </mat-form-field>


                <div>
                  <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="userForm" errorMessage="Completa todos los campos">
              <form [formGroup]="userForm">
                <ng-template matStepLabel>Registra a un administrador</ng-template>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input matInput placeholder="Nombre del administrador" formControlName="name" required>
                </mat-form-field>

                <table class="example-full-width" cellspacing="0">
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Apellido paterno</mat-label>
                      <input matInput placeholder="Nombre del administrador" formControlName="lastName1" required>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Apellido materno</mat-label>
                      <input matInput placeholder="Nombre del administrador" formControlName="lastName2" required>
                    </mat-form-field>
                  </td>
                </table>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Año de nacimiento</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="bornDate" readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Correo electrónico</mat-label>
                  <input matInput placeholder="hola@ejemplo.com" formControlName="adminEmail" required>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Contraseña</mat-label>
                  <input matInput formControlName="adminPassword" type="password" required>
                </mat-form-field>

                <div>
                  <button mat-raised-button color="accent" matStepperPrevious>Anterior</button>
                  <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                </div>
              </form>
            </mat-step>


            <mat-step>
              <ng-template matStepLabel>Terminado</ng-template>
              <p *ngIf="!userForm.valid || !companyForm.valid">Completa todos los campos para continuar</p>
              <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
              <table class="example-full-width" cellspacing=0>
                <td>
                  <button class="example-full-width" mat-raised-button color="accent"
                    matStepperPrevious>Anterior</button>
                </td>
                <td>
                  <button class="example-full-width" mat-raised-button color="primary" (click)="saveData()"
                    [disabled]="userForm.invalid || companyForm.invalid">Registrarme</button>
                </td>
              </table>
            </mat-step>
          </mat-vertical-stepper>

        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
